    body{
      display: flex;
      justify-content: center;
      min-height: 100vh;
      align-items: center;
      background-image: url(images/pattern-background-desktop.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-color: hsl(225, 100%, 94%);
      margin: 0;
      font-family: "Red Hat Display";
      font-weight: 500;
      color: hsl(224, 23%, 55%);
    }
    h1{
      font-size: 35px;
      font-weight: 900;
      color: hsl(223, 47%, 23%);
    }
    .main{
      background: white;
      text-align: center;
      width: 430px;
      height: 650px;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 20px 30px -20px hsl(245deg 22% 63%); 
    }
    p{
      margin: auto;
      width: 80%;
      font-size: 18px;

    }
    .image{
      width: 100%;
    }
    .order{
      width: 85%;
      height: 70px;
      background: hsl(225, 100%, 98%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-radius: 20px;
      margin: auto;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .plan{
      display: flex;
    }
    .mini{
      width: 70%;
      padding-left: 10%;
      font-size: 18px;
    }
    .ordericon{
      width: 50px;
      height: 50px;
    }
    .change{
      font-size: 16px;
      text-decoration: underline;
      color: hsl(245, 75%, 52%);
      font-weight: 700;
    }
    .change:hover{
      text-decoration: none;
      color: hsl(225deg 62% 68%);

    }
    .annual{
      font-weight: 900;
      font-size: 17px;
      color: hsl(223, 47%, 23%);
    }
    button{
      appearance: none;
      width: 85%;
      height: 50px;
      background: hsl(245, 75%, 52%);
      font-family: "Red Hat Display";
      font-weight: 900;
      color: white;
      border: none;
      border-radius: 10px;
      box-shadow: 0 10px 30px 0 hsl(245deg 49% 69%); 
    }
    button:hover{
      background: hsl(225deg 62% 68%);      
    }
    .cancel{
      margin-top: 20px;
    }
    .cancel:hover{
      color: black;
    } 
    @media screen and (max-width: 420px){
      .main{
        width:90%;
        height: 620px;
      }
      body{
        background-image: url(images/pattern-background-mobile.svg);
      }
    }
    @media screen and (max-width: 310px){
      h1{
        font-size: 25px;
      }

}
     @media screen and (max-width: 270px){
      h1{
        font-size: 25px;
      }
      .main{
        overflow: scroll;
      }


}   @media screen and (max-width: 210px){
      h1{
        font-size: 20px;
      }
      .order,.plan{
        display: block;
        margin-bottom: auto;
      }

} 
